## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("/content/charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning

counts = application_df ["APPLICATION_TYPE"].value_counts()

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = counts[counts<500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
CLASS_COUNTS= application_df['CLASSIFICATION'].value_counts()

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
CLASS_COUNTS[CLASS_COUNTS>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C4100        6
C1720        6
C2400        6
C1257        5
C1600        5
C2710        3
C0           3
C1260        3
C1246        2
C1267        2
C3200        2
C1256        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = CLASS_COUNTS[CLASS_COUNTS<1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)

In [13]:
# Split our preprocessed data into our features and target arrays
x = dummies_df.drop(["IS_SUCCESSFUL"], axis = 1).values
y = dummies_df ["IS_SUCCESSFUL"].values


# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test = train_test_split(x,y)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=75,input_dim=len(X_train[0]),activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=35,activation="relu"))

# Output layer

nn.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 75)                3300

 dense_1 (Dense)             (None, 35)                2660

 dense_2 (Dense)             (None, 1)                 36

=================================================================
Total params: 5,996
Trainable params: 5,996
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy",optimizer="adam",metrics=["accuracy"])

In [18]:
# Train the model
nn.fit(X_train_scaled,y_train,epochs = 100
       )

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5729 - accuracy: 0.7208
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7277
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7302
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7308
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7309
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7322
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7316
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7329
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7335
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7335
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7343
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7349
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7332
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7356
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7343
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7341
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7363
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7365
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7361
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7356
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7359
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7369
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7354
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7364
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7374
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7373
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7368
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7379
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7371
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7383
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7378
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7376
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7378
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7379
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7383
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7375
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7371
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7384
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7389
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7388
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7386
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7388
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7385
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7375
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7391
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7390
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7382
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7393
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7392
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7375
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7391
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7394
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7387
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7395
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7392
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7390
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7393
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7390
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7394
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7393
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7388
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7387
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7395
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7395
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7399
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7392
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7400
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7398
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7393
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7395
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7387
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7390
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7390
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7394
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7395
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7396
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7396
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7399
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7397
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7392
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7400
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7394
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7393
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7400
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7399
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7398
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7402
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7400
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7394
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7393
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7397
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7396
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7403
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7389
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7394
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7402
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7391
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7392
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7404
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7398

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5601 - accuracy: 0.7299 - 420ms/epoch - 2ms/step
Loss: 0.5601488947868347, Accuracy: 0.729912519454956

In [21]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")